.main-container{
    border-radius: 15px;
    margin:auto;
    margin-bottom: 250px;
}

.filters-container{
    color: var(--dark-secondary);
    margin-top: 20px;
    padding: 15px; 
    background-color: var(--input); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .pills-menu-style{ 
    padding:10px 0;
    background-color: var(--input);
    border-radius: 15px;
  }

  .table-container{
    padding:20px 40px;
    margin-top:50px;
    background-color: var(--input);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  
.table-style{
    border-radius: 15px;
    border:none;
  }
  
  .table-cell{
    vertical-align: middle;
    text-align: left;
    
  }
  
  .text-lightgrey{
    color: var(--border-shadow);
  }

  .table-cell.header{
    
    padding: 10px 20px 35px 20px;
  }
  
  .table-cell.body-row{
    padding: 35px 20px;
  }
  
  .table-cell.body-row.time{
    color: var(--dark-success);
  }
  
  .table-cell.body-row.order-nr{
    font-weight:500;
  }
  
  .hover-shadow tr:hover {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;
    background-color: rgba(240, 248, 255, 0.9);
  }


  .btn-available {
    color: var(--dark-success);
    font-weight: 500;
    border: 1px solid var(--dark-success);
    background:var(--input);
  }

  .btn-available:hover {
    color: var(--input);
    border: 1px solid var(--dark-success);
    background:var(--dark-success);
  }

  .btn-not-available {
    color: var(--dark-danger);
    font-weight: 500;
    border: 1px solid var(--dark-danger);
    background:var(--input);
  }

  .btn-not-available:hover {
    color: var(--input);
    border: 1px solid var(--dark-danger);
    background:var(--dark-danger);
  }


  .badge-soft-success-avail {
    background-color: var(--soft-success);
    padding: 4px;
    width: 125px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-success);
    border: 1px solid var(--dark-success);
  }
  
  .badge-soft-danger-avail {
    background-color: var(--soft-danger);
    color: var(--secondary);
    padding: 4px;
    width: 125px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-danger);
    border: 1px solid var(--dark-danger);
  }

  .badge-soft-warning-avail {
    background-color:var(--soft-warning);
    padding: 4px;
    width: 125px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-warning);  
    border: 1px solid var(--dark-warning);
  }

  .badge-soft-secondary-avail {
    background-color: var(--soft-secondary);
    color: var(--secondary);
    padding: 4px;
    width: 125px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-secondary);
    border: 1px solid var(--dark-secondary);
  }

  
  .badge-soft-warning-avail.filter-badge,
  .badge-soft-success-avail.filter-badge,
  .badge-soft-danger-avail.filter-badge,
  .badge-soft-secondary-avail.filter-badge {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .badge-soft-warning-avail.filter-badge:hover,
  .badge-soft-success-avail.filter-badge:hover,
  .badge-soft-danger-avail.filter-badge:hover,
  .badge-soft-secondary-avail.filter-badge:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
