.card-wrapper {
    width: 60%;
    margin: 1rem auto;
   
    padding-bottom: 1rem;  
    position: relative;
}

.card-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 1px;
    background-color: #ccc; 
    transform: translateX(-50%); 
}

.card-container {
    border: none;
    margin-bottom: 1.5rem; 
}

.card-body {
    padding: 1.25rem;
    border-bottom: none;
}

.card-footer {
    background-color: #fff;
    border-top: none;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 40%;
    
}

.btn-reserve-online,
.btn-reserve-phone {
    white-space: nowrap; 
}

.btn-reserve-phone {
    color: black;
    cursor: pointer; 
    text-decoration: none;
    border: none;
}
