.btn-footer {
    color: var(--dark-minder);
    font-weight: 500;
    border-color:var(--accent-secondary);
    background-color: var(--input);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
  } 
  
.btn-footer:hover {
    color: var(--dark-minder);
    font-weight: 500;
    border-color:var(--accent-secondary);
    background-color: var(--accent-secondary);
  
}

.footer{
    background-color:var(--dark-minder) ;
    color: var(--input);
}