font-face {
    font-family: 'MinderFont';
    src: ('.././src/front/styles/fonts/Chalet.ttf') format('truetype'); 
}

h1 {
    font-family: 'Minderfont', 'Roboto', sans-serif;
    color: aliceblue;
}

Footer {
    height: 10rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }