/* Styles For Maps Component */
h1 {
    font-family: 'Minderfont', sans-serif;
    color: aliceblue;
}


h2 {
    color: white;
}


.transparent-button {
    background-color: transparent;
    border-color:transparent;
}
.custom-transparent {
    background-color: transparent;
}


.custom-transparentcard {
    background-color:aliceblue
}
