/* Styles For Maps Component */
h1 {
    font-family: 'Minderfont', sans-serif;
    color: aliceblue;
}
h2 {
    font-family: 'Minderfont', sans-serif;
    color: white;
}
/* .transparent-button {
    background-color: transparent;
    border-color:transparent;
}
.custom-transparent {
    background-color: transparent;
}
.custom-transparentcard {
    background-color:aliceblue
} */

.div {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
