      .btn-register:hover {
        color: var(--input);
        background-color: #028a8a;
        border-color: #028a8a;
      }
      
      .btn-register {
        color: var(--input);
        border-color:var(--secondary);
        background-color: transparent;
      } 

      .btn-login{
        color: var(--accent-secondary);
        border-color:  var(--accent-secondary);
        background-color: transparent;
 
      }

      .btn-login:hover {
        color:var(--input);
        background-color:  var(--accent-secondary);
        border-color:  var(--accent-secondary);
      }