      .btn-register:hover {
        color: var(--input);
        background-color: var(--minder-color);
        border-color: var(--minder-color);
      }
      
      .btn-register {
        color: var(--minder-color);
        font-weight: 500;
        border-color:var(--minder-color);
        background-color: transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      } 

      .btn-login{
        color: var(--accent-secondary);
        border-color:  var(--accent-secondary);
        background-color: transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 
      }

      .btn-login:hover {
        color:var(--input);
        background-color:  var(--accent-secondary);
        border-color:  var(--accent-secondary);
      }