.orders-container{
  border-radius: 15px;
  margin:auto;

}
.filters-container{
  color: var(--dark-secondary);
  margin-top: 20px;
  padding: 15px; 
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.pills-menu-style{ 
  padding:10px 0;
  background-color: #ffffff;
  border-radius: 15px;
}

.table-container{
  padding:20px 40px;
  margin-top:50px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table-style{
  border-radius: 15px;
  border:none;
}

.table-cell{
  vertical-align: middle;
  text-align: left;
  
}

.table-cell.header{
  
  padding: 10px 20px 35px 20px;
}

.table-cell.body-row{
  padding: 35px 20px;
}

.table-cell.body-row.time{
  color: var(--dark-success);
}

.table-cell.body-row.order-nr{
  font-weight:500;
}

.hover-shadow tr:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s;
  background-color: rgba(255, 255, 255, 0.9);
}

.badge-soft-warning {
    background-color:var(--soft-warning);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-warning);  
    border: 1px solid var(--dark-warning);
  }
  
  .badge-soft-success {
    background-color: var(--soft-success);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-success);
    border: 1px solid var(--dark-success);
  }
  
  .badge-soft-danger {
    background-color: var(--soft-danger);
    color: var(--secondary);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-danger);
    border: 1px solid var(--dark-danger);
  }
  
  .badge-soft-info {
    background-color: var(--soft-info);
    color:var(--secondary);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-info);
    border: 1px solid var(--dark-info);
  }
  
  .badge-soft-secondary {
    background-color: var(--soft-secondary);
    color: var(--secondary);
    padding: 5px;
    width: 125px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-secondary);
    border: 1px solid var(--dark-secondary);
  }

  .btn-accept {
    color: var(--dark-success);
    font-weight: 500;
    border: 1px solid var(--dark-success);
    background:#ffffff;
  }

  .btn-accept:hover {
    color: #ffffff;
    border: 1px solid var(--dark-success);
    background:var(--dark-success);
  }

  .btn-reject {
    color: var(--dark-danger);
    font-weight: 500;
    border: 1px solid var(--dark-danger);
    background:#ffffff;
  }

  .btn-reject:hover {
    color: #ffffff;
    border: 1px solid var(--dark-danger);
    background:var(--dark-danger);
  }

  .btn-pickup {
    color: var(--dark-info);
    font-weight: 500;
    border: 1px solid var(--dark-info);
    background:#ffffff;
  }

  .btn-pickup:hover {
    color: #ffffff;
    border: 1px solid var(--dark-info);
    background:var(--dark-info);
  }