.orders-container{
  border-radius: 15px;
  margin:auto;

}
.filters-container{
  color: var(--dark-secondary);
  margin-top: 25px;
  padding: 15px; 
  background-color: var(--input); 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.pills-menu-style{ 
  padding:10px 0;
  background-color: var(--input); 
  border-radius: 15px;
}

.table-container{
  padding:20px 40px;
  margin-top:50px;
  background-color: var(--input); 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table-style{
  border-radius: 15px;
  border:none;
}

.table-cell{
  vertical-align: middle;
  text-align: left;
  
}

.table-cell.header{
  
  padding: 10px 20px 35px 20px;
}

.table-cell.body-row{
  padding: 35px 20px;
}

.table-cell.body-row.time{
  color: var(--dark-success);
}

.table-cell.body-row.order-nr{
  font-weight:500;
}

.table-cell.body-row.cell-icon{
  text-align: center;
}


.hover-shadow tr:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s;
  background-color: rgba(255, 255, 255, 0.9);
}

.badge-soft-warning {
    background-color:var(--soft-warning);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-warning);  
    border: 1px solid var(--dark-warning);
    position: relative;
  }
  
  .badge-soft-success {
    background-color: var(--soft-success);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-success);
    border: 1px solid var(--dark-success);
  }
  
  .badge-soft-danger {
    background-color: var(--soft-danger);
    color: var(--secondary);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-danger);
    border: 1px solid var(--dark-danger);
  }
  
  .badge-soft-info {
    background-color: var(--soft-info);
    color:var(--secondary);
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-info);
    border: 1px solid var(--dark-info);
  }
  
  .badge-soft-secondary {
    background-color: var(--soft-secondary);
    color: var(--secondary);
    padding: 5px;
    width: 125px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-secondary);
    border: 1px solid var(--dark-secondary);
    
  }

  .badge-soft-warning.filter-badge,
  .badge-soft-success.filter-badge,
  .badge-soft-danger.filter-badge,
  .badge-soft-info.filter-badge,
  .badge-soft-secondary.filter-badge {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .badge-soft-warning.filter-badge:hover,
  .badge-soft-success.filter-badge:hover,
  .badge-soft-danger.filter-badge:hover,
  .badge-soft-info.filter-badge:hover,
  .badge-soft-secondary.filter-badge:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }


  .btn-accept {
    color: var(--dark-success);
    font-weight: 500;
    border: 1px solid var(--dark-success);
    background: var(--input); 
  }

  .btn-accept:hover {
    color: var(--input); 
    border: 1px solid var(--dark-success);
    background:var(--dark-success);
  }

  .btn-reject {
    color: var(--dark-danger);
    font-weight: 500;
    border: 1px solid var(--dark-danger);
    background:var(--input);
  }

  .btn-reject:hover {
    color: var(--input); 
    border: 1px solid var(--dark-danger);
    background:var(--dark-danger);
  }

  .btn-pickup {
    color: var(--dark-info);
    font-weight: 500;
    border: 1px solid var(--dark-info);
    background:var(--input); 
  }

  .btn-pickup:hover {
    color: var(--input); 
    border: 1px solid var(--dark-info);
    background:var(--dark-info);
  }

  .pagination-style{
    padding: 50px;
  }


  .badge-notification {
    position: absolute;
    top: -10px; /* Adjust as necessary */
    right: -10px; /* Adjust as necessary */
    border-radius: 50%; /* Make it round */
    padding: 0.25em 0.6em; /* Adjust padding to make sure the content fits */
    font-size: 75%; /* Smaller font size for the badge count */
  }

  .btn-confirm{
    background-color:var(--primary); 
    border: var(--primary); 
    color:var(--input);
    padding-left: 5px;
}

  .btn-confirm:hover {
    background-color:var(--minder-color); 
    border: var(--minder-color);
    color:var(--input);
}

  .body-modal-reserv, .header-modal, .footer-modal-reserv{
  font-weight: 500;
}

.header-modal{
  text-align: center;
}

.body-modal-reserv{
  font-size: 20px;
  text-align: center;
  padding: 30px 15px;
  color:var(--dark-minder);
}


.footer-modal-reserv{
  align-items: center;
}

  .modal-backdrop.show {
  opacity: 0.5; 
}
