.container-main-text{
    padding: 10px;
}

.heading-db-pharmacies{
    color:#FFFF;
    font-weight:800;
    width: 90%;
    text-align: center;
    margin:auto;
    margin-top:20px;
}

.medicine-text{
    color: var(--accent-secondary);
    }

.heading-google-pharmacies{
    color:var(--dark-minder);
    font-weight:800;
    width: 90%;
    text-align: center;
    margin:auto; 
    }

.explore-more-btn {
    font-weight: 500;
    border: 1px solid var(--dark-minder);
    font-size:24px;
    text-decoration: none;
    padding: 18px 24px;
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    color: var(--accent-secondary);
    background:var(--dark-minder);
    transition: transform 0.5s ease, background-color 0.5s ease;

  }
  
  
.explore-more-btn:hover {
    color: var(--dark-minder);
    border: 1px solid var(--accent-secondary);
    font-weight: 500;
    background: var(--accent-secondary);
    
  }

.return-btn {
    font-weight: 500;
    border: 1px solid var(--dark-minder);
    font-size:24px;
    text-decoration: none;
    padding: 18px 24px;
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    color: var(--dark-minder);
    background:var(--input);
    transition: transform 0.5s ease, background-color 0.5s ease;
    margin-right: 20px;
  }

.return-btn:hover {
   color: var(--dark-minder);
   border: 1px solid var(--dark-minder);
   font-weight: 500;
   background: var(--accent-secondary);
   
  }

  .results-wrapper{
    margin-bottom: 250px;
  }

