
.search-form-container {
 /* position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: space-between; 
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 300px;
  margin-top: 100px;
   }
  
 
  .search-form-label {
    display: block;
    text-align: left;
    font-weight: bold;
    color:var(--text-primary);
    padding-left: 0.7rem;

  }

  .search-form-input {
    border: none;
    background-color: var(--input);
  }
  
  .search-form-input:focus {
    box-shadow: 0 0px 0px rgba(0,0,0,0.1); 
    border-bottom: 1px solid #dee2e6;
    
}
  .search-form-button {
    border: none;
    font-size: 2.5rem;
    margin-top: 0.4rem;
    color: var(--accent-secondary);
  }

  .search-form-button:hover {
    border: none;
   background: transparent;
   transform: scale(1.20); 
   color: var(--accent-secondary);
  }



  .vertical-line {
    border-right: 2px solid #dee2e6;
    height: 95%;
}

.horizontal-line {
  border-top: 2px solid #dee2e6;
  width: 100%;
  margin: 0.5rem 0; 
}

.btn-clear-selection {
  border: none;
  background: transparent;
  color: #dee2e6;
}

.btn-clear-selection:hover {
  border: none;
  background: transparent;
  color: var(--danger);
  
}

.input-group .form-control {
  padding-right: 2.5rem; /* to adjust the input padding to make space for the x' */
}